@import "reset.css";

:root,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

#app {
  --bg-primary: #e4ceb2;
  --bg-secondary: #695945;
  --bg-size: 1.1px;
  background-color: var(--bg-primary);
  background-image:
    radial-gradient(
      var(--bg-secondary) var(--bg-size),
      transparent var(--bg-size)
    ),
    radial-gradient(
      var(--bg-secondary) var(--bg-size),
      var(--bg-primary) var(--bg-size)
    );
  background-size: 48px 48px;
  background-position:
    0 0,
    24px 24px;
  font-family: sans-serif;
}

#debugger {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: 0;
}

/* https://iamkate.com/code/tree-views/ */
.weird-debugger-tree {
  line-height: 1.5;

  --spacing: 1.5rem;
  --radius: 10px;
  --line-color: #4f3f2b;

  li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  }

  ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
  }

  ul li {
    border-left: 2px solid var(--line-color);
    box-sizing: border-box;
  }

  ul li:last-child {
    border-color: transparent;
  }

  ul li:not(:has(li)) {
    summary::marker {
      color: #555;
    }

    summary::after {
      margin-left: 0.5rem;
      color: #444;
      font-size: 0.75rem;
      content: "(no children)";
    }
  }

  ul li::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid var(--line-color);
    border-width: 0 0 2px 2px;
    box-sizing: border-box;
  }
}
