@import "tailwindcss";

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:not(:where([data-theme="light"], [data-theme="light"] *)) {
      @slot;
    }
  }
}

@theme {
  --color-wallpaper-primary: var(--color-orange-100);
  --color-wallpaper-secondary: var(--color-orange-200);
  --shadow-*: initial;
  --shadow-xs: 1px 1px rgb(0 0 0 / 0.125);
  --shadow-sm: 2px 2px rgb(0 0 0 / 0.25);
  --shadow-md: 4px 4px rgb(0 0 0 / 0.5);
  --shadow-lg: 6px 6px rgb(0 0 0 / 0.625);
  --shadow-xl: 8px 8px rgb(0 0 0 / 0.75);
}

:root {
  --bg-wallpaper-pattern-size: 4px;
  interpolate-size: allow-keywords;
}

@media (prefers-color-scheme: dark) {
  :root :not(:where([data-theme="light"], [data-theme="light"] *)) {
    --color-wallpaper-primary: var(--color-taupe-900);
    --color-wallpaper-secondary: var(--color-taupe-700);
  }
}

:root :where([data-theme="dark"], [data-theme="dark"] *) {
  --color-wallpaper-primary: var(--color-taupe-900);
  --color-wallpaper-secondary: var(--color-taupe-700);
}

@utility bg-wallpaper {
  background-color: var(--color-wallpaper-primary);
  background-image:
    radial-gradient(
      var(--color-wallpaper-secondary) var(--bg-wallpaper-pattern-size),
      transparent var(--bg-wallpaper-pattern-size)
    ),
    radial-gradient(
      var(--color-wallpaper-secondary) var(--bg-wallpaper-pattern-size),
      var(--color-wallpaper-primary) var(--bg-wallpaper-pattern-size)
    );
  background-size: 96px 96px;
  background-position:
    0 0,
    48px 48px;
}

@utility transition-window {
  transition-property: transform, translate, scale, rotate, width, height;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);

  &.weird-window-dragging {
    transition-property: width, height;
  }

  &.weird-window-resizing {
    transition-property: scale, rotate;
  }
}

@custom-variant childless {
  &:not(:has(*)) {
    @slot;
  }
}

.weird-graphviz {
  --default-stroke: currentColor;
  --default-fill: currentColor;

  text:not([fill]) {
    fill: currentColor;
  }
}
